<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Venue</h2>
                <h3 class="section-subheading text-muted">Bergstation Cafe | Restaurant im Huthpark Frankfurt .</h3>
            </div>
        </div>
        <style>
        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
            <iframe src="https://www.google.com/maps/place/BERGstation+Café.Restaurant+im+Huthpark/@50.142672,8.716425,15z/data=!4m2!3m1!1s0x0:0xeb2ca4cd4395c56e?sa=X&ved=2ahUKEwii3bSL65_2AhWRiqQKHd5UCTAQ_BJ6BAg3EAU" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
